<%- include("partials/header.ejs") %>

<main class="contents">
    <div class="view-posts">
        <% if (locals.message) { %> 
            <p class="error-text"> <%= message %> </p>
        <% } else { %> 
            <div class="heading">
                <% if (blogs.length < 1) { %>
                    <div class="no-post">
                        <h2> You have no blog post yet, create a new post!</h2>  
                    </div>    
                <% } else { %>
                    <div class="post">
                        <h2>Your Blog Posts.</h2>
                    </div>     
                <% } %>
            </div>

            <!-- Displaying each Blog Post's Contents -->
             
            <section id="blogs">
                <div class="blogs-container">
                    <% blogs.forEach((post, index) => { %> 
                        <div class="blog-card">
                            <div class="span-con">
                                <span>
                                    <%= index + 1 %>
                                </span>   

                                <div class="the-title">
                                    <h2> <%= post.title %> </h2>
                                </div> 
                            </div>

                            <div class="descript">
                                <p> <%= post.article?.slice(0, 280) %>
                                    <% if (post.article?.length > 280) { %>
                                        ... <a href="/details/<%= post.id %>">View More</a> 
                                    <% } %>
                                </p>
                                
                            </div>

                            <div class="below-items">
                                <div class="timestamp">
                                    <p>
                                        Posted on: <%= post.created_at %>
                                    </p>
                                </div>

                                <div class="buttons">
                                    <div class="bttns-container">
                                        <form action="/delete/<%= post.id %>" method="POST">
                                            <button class="bttns del-btn">Delete</button>
                                        </form>
                    
                                        <a href="/edit/<%= post.id %>" class="bttns edit-btn">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </section>
        <% } %>

    </div>
</main>

<%- include("partials/footer.ejs") %>